[Unit]
Description=A Smite bot made with Sapphire

[Service]
ExecStart=/var/www/Nox/build/src/index.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/Nox

[Install]
WantedBy=multi-user.target